<!DOCTYPE html>
<html>
<head>
    <title>Account - ADD</title>
</head>
<body>
    <h1>Add New Account</h1>
<form action="/account/insert" method="get">
    Account Name: <input name="email" type="text" />
    <br />
    <input type="submit" />
</form>
</body>
</html>