<!DOCTYPE html>
<html>
<head>
    <title>Skill - ADD</title>
</head>
<body>
<h1>Add New Skill</h1>
<form action="/skill/insert" method="get">
    Company Name: <input name="skill_name" type="text" />
    <br />
    <input type="submit" />
</form>
</body>
</html>