<!DOCTYPE html>
<html>
<head>
    <title>Skill - View All</title>
</head>
<body>
<h1>Skill</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Skill Name</th>
        <th>Description</th>
    </tr>
    <% for(var i =0; i< skill.length; i++) { %>
    <tr>
        <td><%= skill[i].skill_id %></td>
        <td><%= skill[i].skill_name %></td>
        <td><%= skill[i].description %></td>
    </tr>
    <% } %>
</table>
</body>
</html>