<!DOCTYPE html>
<html>
<head>
    <title>Address - ADD</title>
</head>
<body>
<h1>Edit Address</h1>


        <% for(var i=0; address_res.length > i; i++ ) {
            var checked ="";

            if(address_res[i].address_id != null) {
                checked = "checked";
            }
        %>
<form action="/address/update" method="get">
    Address Name: <input
            id="street"
            name="street"
            type="text"
            value="<%= address_res[i].street%>"
    />
    <br />
    <br />
        <br />
    <input type="hidden"
           id="address_id"
           name="address_id"
           value="<%= address_res[i].address_id %>"
    />
        <% } %>
    <input type="submit" />

</form>
</body>
</html>