<!DOCTYPE html>
<html>
<head>
    <title>School - ADD</title>
</head>
<body>
<h1>Add New School</h1>
<form action="/school/insert" method="get">
    School Name: <input name="school_name" type="text" />
     <input name="address_id" type="hidden" value="<%= school_result.address_id%>" />
    <br />
    <% for(var i=0; school_result.length > i; i++) { %>
        <input type="checkbox" name="address_id" value="<%=
        school_result[i].address_id %>">
        <%= school_result[i].address_id %>
        <br />
        <% } %>
        <br />
    <input type="submit" />
</form>
</body>
</html>