<!DOCTYPE html>
<html>
<head>
    <title>School - ADD</title>
</head>
<body>
<h1>Add New School</h1>
<form action="/school/insert" method="get">
    School Name: <input name="school_name" type="text" />
    School Id: <input name="school_id" type="text" />
    <br />
    <% for(var i=0; school_result.length > i; i++) { %>
        <input type="checkbox" name="school_id" value="<%=
        school_result[i].school_id %>"> <%= school_result[i].school_name %> + ','
        <%= school_result[i].address_id %>
        <br />
        <% } %>
        <br />
    <input type="submit" />
</form>
</body>
</html>